<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>

<body>
    <div id="app">
        <ul>
            <li v-for="(it,index) in arr">
                {{index+1}}{{it}}
            </li>
        </ul>
        <ul>
            <button @click="add">添加老婆</button>
            <button @click=remove>移除老婆</button>
            <li v-for="item in wife" v-bind:title="item.name">
                {{item.name}}
            </li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>

    var app = new Vue({
        el:"#app",
        data:{
            arr:["加藤惠","惠惠","艾米利亚","雪之下"],
            wife:[
                {name:"加藤惠"},
                {name:"惠惠"},
                {name:"艾米利亚"}
            ]
        },
        methods: {
            add:function(){
                this.wife.push({name:"雪之下"});
            },
            remove:function(){
                this.wife.shift();
            }
        },
    })

    </script>
</body>

</html>